<!DOCTYPE html>
<%
isTop = false; // トップ:true  下層ページ:false
meta = {
  title: '〓下層ページ〓',
  description: '〓下層ページのディスクリプション〓',
  pathName: '' // トップ:なし  下層ページ:/ディレクトリ名/ 
};
%>
<html>
<head>
<%- include('../_partial/analytics/_google-tag-manager'); %>
<%- include('../_partial/_head', {meta:meta, isTop:isTop}); %>
<%- include('../_partial/assets/_common-css'); %>
<%- include('../_partial/assets/_common-js'); %>
</head>

<body>
<%- include('../_partial/analytics/_google-tag-manager-noscript'); %>
<%- include('../_partial/layout/_site-header'); %>
<!-- underlayer -->
<main class="mainContents mainContents--underlayer">
  <p>下層ページ</p>
</main>
<!-- /underlayer -->
<%- include('../_partial/layout/_site-footer') %>
</body>
</html>